<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[[[page:title()]]]</title>
<script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>

<link rel="stylesheet" href="/nitrogen/jquery-ui/jquery-ui.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/nitrogen/elements.css" type="text/css" media="screen" charset="utf-8">

<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">


</head>

<body>
<div class="content">
	<div class="content-main clearfix">
		<div class="header">
			<h1>Erlang on Nitro - Twitter Stream</h1>
		</div>
		<div class="static">
			<p>This are some examples of the powerful applications you can build with Erlang And Nitrogen Framework. See a step by step explanation <a href="http://sergioveiga.com">here</a></p>
				
			<h2>1 - Twitter Simple Stream</h2>
			<p>A simple example using twitter stream, where we will track all tweets with a certain keyword.
			Just append the keyword you want to the end of the url, like this :</p>
			<ul>
				<li><a href="/web/stream/twitter">http://localhost:8000/web/stream/twitter</a> </li>
				<li><a href="web/stream/hello">http://localhost:8000/web/stream/hello</a> </li>
			</ul>
			<p>To test the how robust this his, try twitter sample method, and watch twitter flood us :)
			<b>Warning :</b> to keep it simple we are not dealing with browser memory, so if you run this to long it will for sure crash your browser :)</p>
			<ul>
				<li><a href="/web/stream/">http://localhost:8000/web/stream/</a></li>
			</ul>
			
			<h2>2 - Twitter Cloud </h2>
			<p>Using the same data from example 1, we build a different visualization of the info, showing how simple is the connection with javascript.
			<ul>
				<li><a href="/web/cloud/twitter">http://localhost:8000/web/cloud/twitter</a> </li>
				<li><a href="web/cloud/hello">http://localhost:8000/web/cloud/hello</a> </li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
